@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-weight: 300;
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-style: italic;
  font-family: Roboto;
  src: url(../fonts/Roboto-LightItalic.ttf);
}

body {
  background-color: white;
  margin:0px 10px;
  font-family: Roboto, sans-serif;
  color: #333333;
}

* {
  box-sizing: border-box;
}

.box {
  box-sizing: content-box;
  text-align: center;
  color: #48926e;
  height: 30px;
  padding: 10px 20px;
  margin: 5px;
  display: inline-block;
}
.box:hover {
  color: orange;
}

.border-solid {
  border: 2px solid #89c2a6;
}
.border-solid:hover {
  border-color: orange;
}

.box-text {
  font-style: italic;
  padding: 10px;
  text-align: left;
  width: 700px;
}
.weight {
  font-variant: small-caps;
  font-weight: bold;
  background-color: #48926e;
  color: white;
  display: inline-block;
  padding: 0px 3px;
  margin: 0px;
}

ol {
  list-style-image: url(../img/pip.png);
}

p {
  margin-top: 0px;
}

.article1 {
  margin: 20px 0px;
  column-count: 3;
  column-width: 300px;
  column-gap: 30px;

  column-rule-width: 2px;
  column-rule-style: solid;
  column-rule-color: #89c2a6;
}

h2 {
  text-align: center;
  column-span: all;
}

.size-30px {
  font-size: 20px;
}

.size-70 {
  font-size: 70%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.img-holder {
  display: inline-block;
  border: 3px #89c2a6 solid;
  width: 100px;
  margin: 10px 0px;
}

table {
  color: #fff;
  margin: 20px 0px;
  background-color: #48926e;
}

td,
th {
  padding: 1em;
}

th {
  text-align: left;
  vertical-align: bottom;
}

tbody tr {
  background-color: #3c795c;
}

fieldset {
  width: 600px;
  border: 2px solid #89c2a6;
}

.image {
  display: inline-block;

  margin: 20px 10px;
  width: 200px;
  height: 200px;

  border: 1px solid #b9cec4;

  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
}
.i1 {
  background-image: url("../img/car1.jpg");
}
.i2 {
  background-image: url("../img/car2.jpg");
}
.i3 {
  background-image: url("../img/car3.jpg");
}

.gradient-block {
  margin: 10px;
  width: 650px;
  height: 100px;
  border-radius: 5px;

  background: linear-gradient(45deg, #33ffab, #22aabb);
  background-repeat: no-repeat;
  background-position: center;
}